#{extends 'main.html' /} #{set title:"About" /}

<nav class="ui inverted menu">
	<a class="ui item" href="/">Sign Up</a> <a class="ui item"
		href="/signin">Sign In</a> <a class="ui item" href="/blog">Blog</a> <a
		class="ui item" href="/publicblogdirectory">Public Blog Directory</a>
	<a class="ui active item" href="/about">About</a> <a
		class="ui item" href="/contact">Contact</a> <a class="ui item"
		href="/signout">Sign Out</a>
</nav>

<div class="ui grid">
	<div class="six wide column">
		<div class="ui raised segment">
			<p>Copyright 2013 WitPress All rights reserved.</p>
		</div>
	</div>
</div>