#{extends 'main.html' /} #{set title:'Archived Blog Posts' /}

<nav class="ui inverted menu">
	<a class="ui item" href="/">Sign Up</a> <a class="ui item"
		href="/signin">Sign In</a> <a class="ui active item" href="/blog">Blog</a>
	<a class="ui item" href="/signout">Sign Out</a>
</nav>

<section class="ui segment">
	<form action="/submitcomment" method="POST">
		<div class="column">
			<div class="ui fluid form segment">
				<p>
					<strong>The state of rugby.</strong>
				</p>
				<p>The less said the better.:</p>
				<p>
					<strong>Comments:</strong>
				</p>
				<p>Up Kilkenny.:</p>
				<button type="submit" class="tiny ui orange submit button">Delete</button>
				<p>Up Waterford.:</p>
				<button type="submit" class="tiny ui orange submit button">Delete</button>
			</div>
			<div class="ui fluid form segment">
				<div class="ui input field">
					<input placeholder="Provide a comment here" name="content"
						type="text">
				</div>
				<div class="ui form">
					<button type="submit" class="ui green submit button">New
						Comment</button>
				</div>
			</div>
		</div>
	</form>
</section>