#{extends 'main.html' /} #{set title:"Blog Post: ${post.title}" /}

<nav class="ui inverted menu">
	<a class="ui item" href="/">Sign Up</a> <a class="ui item"
		href="/signin">Sign In</a> <a class="ui active item" href="/blog">Blog</a>
	<a class="ui item" href="/publicblogdirectory">Public Blog
		Directory</a> <a class="ui item" href="/about">About</a> <a
		class="ui item" href="/contact">Contact</a> <a class="ui item"
		href="/signout">Sign Out</a>
</nav>

<section class="ui segment">
	<div class="column">
		<div class="ui fluid form segment">
			<h2>${post.title}</h2>
			<p>${post.content}</p>
			<p>
				<strong>Comments:</strong>
			</p>
			#{list items:post.comments, as:'comment'}
			<p>${comment.content}</p>
			<a href="@{BlogPost.deleteComment(post.id, comment.id)}"
				class="mini ui orange button">Delete</a> #{/list}
		</div>
		<div class="ui fluid form segment">
			<form action="@{BlogPost.addComment(post.id)}" method="POST">
				<div class="ui fluid form segment">
					<div class="field">
						<textarea placeholder='Provide a comment here' name="content"
							rows='2'></textarea>
					</div>
					<button class="ui green tiny button">New Comment</button>
				</div>
			</form>
		</div>
	</div>
</section>