#{extends 'main.html' /} #{set title:"Sign In to WitPress" /}

<nav class="ui inverted menu">
	<a class="ui item" href="/">Sign Up</a> <a class="ui active item"
		href="/signin">Sign In</a> <a class="ui item" href="/blog">Blog</a> <a
		class="ui item" href="/publicblogdirectory">Public Blog Directory</a>
	<a class="ui item" href="/about">About</a> <a class="ui item"
		href="/contact">Contact</a> <a class="ui item" href="/signout">Sign
		Out</a>
</nav>

<section class="ui segment">
	<form action="/" method="GET">
		<button type="submit" class="massive ui green submit button">Get
			Started - sign up here</button>
	</form>
</section>

<section class="ui segment">
	<h5>If already registered log in and begin publishing.</h5>
	<form action="/authenticate" method="POST">
		<div class="ui two column grid">
			<div class="column">
				<div class="ui fluid form segment">
					<div class="ui left icon input field">
						<input placeholder="Email" name="email" type="text"> <i
							class="user icon"></i>
					</div>
					<div class="ui left icon input field">
						<input placeholder="Password" name="password" type="password">
						<i class="lock icon"></i>
					</div>
					<button type="submit" class="ui green submit button">Login</button>
				</div>
			</div>
		</div>
	</form>
</section>